@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

  html,
  body {
    @apply p-0 m-0 font-sans
  }

  a {
    @apply text-inherit
  }

  main,
  section {
    @apply w-full h-fit p-10 md:px-20 lg:px-36
  }

  h1 {
    @apply text-5xl md:text-7xl font-semibold uppercase
  }

  h2 {
    @apply text-4xl md:text-5xl font-semibold uppercase
  }

  h3 {
    @apply text-3xl md:text-4xl font-semibold uppercase
  }

  h4 {
    @apply text-2xl md:text-3xl font-semibold uppercase
  }

  h5 {
    @apply text-xl md:text-2xl font-semibold uppercase
  }

  h6 {
    @apply text-lg md:text-xl font-semibold uppercase
  }

  fieldset{
    @apply w-full flex flex-col 
  }

  label{
    @apply text-sm font-medium
  }

  input, textarea{
    @apply w-full px-3 py-2 border-2 border-light-gray rounded-lg focus:border-sea-blue focus:border-2
  }

}

* {
  box-sizing: border-box;
}

@layer components {

  .primary-btn {
    @apply w-fit h-fit py-2 px-5 text-center text-white bg-sea-blue rounded-lg font-medium
  }

  .secondary-btn {
    @apply w-fit h-fit py-2 px-5 text-center text-sea-blue border-2 border-sea-blue rounded-lg font-medium
  }

  .side-nav-btn {
    @apply text-5xl font-light md:font-normal uppercase md:text-base text-light-gray
  }

  .footer-btn {
    @apply text-lg font-light md:font-normal uppercase md:text-base text-light-gray
  }

  .page {
    @apply font-semibold text-white md:text-sea-blue
  }

  .icon {
    @apply w-8 h-10 relative
  }

  .no-scrollbar::-webkit-scrollbar{
    @apply hidden
  }

  .project{
    @apply transition duration-500
  }

  .project-detail {
    @apply md:-bottom-12 left-0 absolute -bottom-  px-2 transition duration-500 
  }

  .project:hover > .project-detail {
    @apply bottom-0 left-0 transition duration-500 ease-linear
  }

}


/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */